@use '../layouts/DashboardLayout.scss' as *;

body {
  background-color: #f8f9fa;
}

.chat-messages {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 1rem;

  /* Ideal para barras de rolagem modernas */
  scrollbar-width: thin;
  scrollbar-color: #017bff #f1f1f1;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #017bff;
    border-radius: 10px;
  }
}

.chat-input {
  border-radius: 0.25rem;
}

.chat-button {
  border-radius: 0.25rem;
}

.user-list-item {
  cursor: pointer;

  &:hover {
    background-color: #f8f9fa;
    transition: background 0.3s;
  }
}